:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-additional-1: #fb3b64;
  --color-additional-2: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}

a {
  text-decoration: none;
}
h2 {
  font-family: var(--font-secondary);
  font-size: 2.25rem;
}
.container {
  width: 1352px;
  margin: 0 auto;
}
.logo {
  padding-left: 1rem;
  font-size: 2rem;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 300;
}

/* Header */
header {
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
}
header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header_nav {
  display: flex;
}
.header_nav a {
  font-weight: 700;
  font-size: 0.6875rem;
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 4px solid transparent;
  padding: 28px 18px 22px;
}
.header_nav a:hover {
  border-color: var(--color-primary);
  color: var(--color-black);
}
/* 1st section - "main" */
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.opening_content {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 21px;
}
.opening_content h1 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 3.0625rem;
}
.opening_content p {
  padding-top: 20px;
  padding-bottom: 60px;
}
.btn-main {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 40px;
  padding: 19px 155px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  font-weight: 600;
}
.opening img {
  width: 100%;
  height: auto;
}
/* statistics */

.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}
.stats h2 {
  padding-bottom: 100px;
  margin-top: 100px;
}
.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  font-family: var(--font-secondary);
}
.statistics .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.circle {
  position: relative;
  border-radius: 50%;
  width: 63px;
  height: 63px;
}
.statistics div:nth-of-type(1) .circle {
  background: var(--color-additional-1);
}
.statistics div:nth-of-type(1) .circle img {
  position: absolute;
  top: 0;
  left: 45%;
}
.statistics div:nth-of-type(2) .circle {
  background: var(--color-primary);
}
.statistics div:nth-of-type(2) .circle img {
  position: absolute;
  top: 14px;
  left: 47%;
}
.statistics div:nth-of-type(3) .circle {
  background: var(--color-additional-2);
}
.statistics div:nth-of-type(3) .circle img {
  position: absolute;
  top: 6px;
  left: 50%;
}
div.description {
  color: var(--color-grey);
  margin: 19px;
}
div.number {
  font-size: 1.25rem;
  font-weight: 800;
  margin-top: 13px;
  letter-spacing: 3px;
}

/* benefits */
section.benefits {
  padding: 60px 0;
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notebook {
  display: flex;
  background-color: var(--color-white);
  margin: 37px auto;
  max-width: 1152px;
  height: 364px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.notebook div {
  max-width: 415px;
  margin-left: 36px;
}
.notebook div p {
  line-height: 1.375rem;
  margin-top: 30px;
}
.notebook div:nth-of-type(2) {
  position: relative;
  margin-right: 117px;
  margin-bottom: 38px;
  margin-top: 115px;
}
.notebook div:nth-of-type(2):before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--color-additional-1);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}
.notebook div:nth-of-type(1):after {
  content: "";
  width: 327px;
  height: 4px;
  background-color: var(--color-additional-1);
  display: block;
  margin-top: 50px;
}
.Macbook {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}

.phone {
  flex-direction: row-reverse;
  display: flex;
  background-color: var(--color-white);
  margin: 37px auto;
  max-width: 1152px;
  height: 364px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}
.phone div p {
  line-height: 1.375rem;
  margin-top: 30px;
}
.phone div:nth-of-type(2) {
  position: relative;
}
.phone div:nth-of-type(1) {
  max-width: 415px;
  margin-right: 20px;
}
.phone div:nth-of-type(2):before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--color-primary);
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 30px;
}
.phone div:nth-of-type(1):after {
  content: "";
  width: 327px;
  height: 4px;
  background-color: var(--color-primary);
  display: block;
  margin-top: 50px;
}
.iPhone {
  width: 426px;
  height: auto;
  position: relative;
  z-index: 2;
  left: 31px;
  top: 20px;
}

.trumpet {
  display: flex;
  max-width: 1152px;
  height: 364px;
  margin: 37px auto;
}
.trumpet div {
  background-color: var(--color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trumpet div:first-of-type div:first-of-type {
  width: 584px;
  margin: 70px 35px 70px 34px;
  border: none;
}
.trumpet div:nth-of-type(2) {
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-additional-2);
  border: none;
}
.trumpet p {
  line-height: 1.375rem;
  margin-top: 30px;
}
.trumpet div:first-of-type div:first-of-type:after {
  content: "";
  width: 327px;
  height: 4px;
  background-color: var(--color-additional-2);
  display: block;
  margin-top: 50px;
}
.Trumpet_img {
  width: 295px;
  height: 207px;
  margin-top: 55px;
}

/* pricelists */
.prices {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prices div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.package {
  font-size: 1.3125rem;
  font-family: var(--font-secondary);
  font-weight: 700;
}
.price {
  font-size: 2.875rem;
  font-weight: 300;
  margin-top: 25px;
}
.limited {
  font-weight: bold;
  font-size: 0.75rem;
}
.box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features_list {
  text-align: center;
}
.features_list li {
  font-size: 0.875rem;
  margin-bottom: 20px;
}
.features_list li::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../img/Checkmark-1.svg");
}
.btn_begin {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 40px;
  border: none;
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
}
/* plan_a */

.plan_a {
  border: 1px solid var(--color-additional-1);
}
.plan_a div {
  margin-top: 20px;
  margin-bottom: 27px;
  text-align: center;
  display: block;
}
.plan_a .price {
  color: var(--color-additional-1);
}
.plan_a .features_list {
  margin-top: 28px;
}
.plan_a ul li:nth-of-type(4)::before {
  background-image: url("../img/Close.svg");
}
.plan_a ul li:last-of-type::before {
  background-image: url("../img/Close.svg");
}
.plan_a .btn_begin {
  background-color: var(--color-additional-1);
}

/* plan_b */

.plan_b {
  border: 1px solid var(--color-primary);
  width: 400px;
  height: 455px;
  margin: 40px 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}
.plan_b div {
  margin-top: 22px;
  margin-bottom: 29px;
  text-align: center;
  display: block;
}
.plan_b .price {
  color: var(--color-primary);
}
.plan_b .limited {
  margin-top: 15px;
}
.plan_b ul li:last-of-type::before {
  background-image: url("../img/Close.svg");
}
.plan_b .btn_begin {
  background-color: var(--color-primary);
}
/* plan_c */

.plan_c {
  border: 1px solid var(--color-additional-2);
}
.plan_c div {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
.plan_c .price {
  color: var(--color-additional-2);
}
.plan_c .btn_begin {
  background-color: var(--color-additional-2);
}

/* contact */
.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
  width: 1352px;
  margin: 0 auto;
}
.contact div {
  width: 50%;
}
.contact div div:last-of-type {
  width: 100%;
  margin: 0;
}
.contact h2 {
  font-size: 3.0625rem;
  line-height: 59px;
}
.contact div p {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 22px;
}
.contact div a {
  color: var(--color-grey);
  font-weight: 500;
}
.contact div a:last-of-type {
  margin-left: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
form div {
  margin-bottom: 42px;
}
form div:first-of-type {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form div label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  line-height: 14px;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}
form input {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  background-color: transparent;
  line-height: 2.625rem;
}
form div label input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
}
form div label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
}
form div:nth-of-type(3) label input:checked ~ span {
  background-image: url("../img/Checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
}
form div:nth-of-type(3) label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}
.contact form div p {
  margin: 0 10px;
  font-size: 0.75rem;
  color: var(--color-grey);
  line-height: 17px;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: initial;
}
form button {
  align-self: flex-end;
  font-size: 0.8125rem;
  font-weight: bold;
  color: var(--color-white);
  padding: 20px 97px;
  margin-top: 20px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 40px;
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

/* footer */

footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .logo {
  padding: 0;
}
footer div span {
  font-size: 0.6875rem;
  line-height: 24px;
  color: var(--color-grey);
  margin-top: 6px;
}
footer div div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}
footer div div a img:first-of-type {
  margin-left: 30px;
}
