:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Header */
header {
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
}
header div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.header_nav{
  display: flex;
}
.header_nav a {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 11px;
  color: var(--color-grey);
  text-transform: uppercase;
  font-style: var(--font-open-sans);
  letter-spacing: 3.28px;
  text-align: center;
  border-bottom: 4px solid transparent;
  padding: 23px;
}
.header_nav a:hover {
  border-color: var(--color-primary);
  color: var(--color-black)
}

.logo {
  font-size: 32px;
  color: var(--color-primary);
  font-family: var(--font-raleway);
  font-weight: 300;
}
/* 1st section - "main" */
.opening {
  display: flex;
  flex-direction: column;
}

.opening_content {
  text-align: center;
  padding-top: 130px;
}
.opening_content h1 {
  font-family: var(--font-raleway);
  font-weight: 400;
  font-size: 49px;
}
.opening_content p {
  font-family: var(--font-open-sans);
  padding-top: 20px;
  padding-bottom: 60px;
}
.btn-main {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 40px;
  padding: 20px 155px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  font-family: var(--font-open-sans);
  font-weight: 600;
}
.opening img {
  width: 100%;
  height: auto;
}
/* 2nd section statistics */
.stats {
  display: flex;
  justify-content: center;
  text-align: center;
}
h2 {
  font-family: 'Raleway';
  font-size: 36px;
  padding-bottom: 100px;
}
.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.entry_circle {
  position: relative;
  background: var(--color-redish);
  border-radius: 50%;
  width: 63px;
  height: 63px;
}
.entry_circle img {
  position: absolute;
}