header {
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
.header_nav {
  display: flex;

  @include mobile {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: $color-white;
    width: 100%;
    padding-bottom: 20px;
    display: none;

    a {
      display: block;
      padding: 14px 20px;
    }
  }
  a {
    font-weight: 700;
    font-size: 0.6875rem;
    color: $color-grey;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
    &:hover {
      border-color: $color-primary;
      color: $color-black;
    }
  }
}

.menu {
  &_btn {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;

    @include mobile {
      &:checked {
        ~ .header_nav {
          display: flex;
        }
        ~ .menu_toggle {
          span {
            &:nth-child(1) {
              transform: rotate(45deg) translate(2px, 5px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(2px, -5px);
            }
          }
        }
      }
    }
  }
  &_toggle {
    display: none;

    span {
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom: 3px;
      background-color: $color-primary;
      transition: 0.3s all ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include mobile {
      display: block;
    }
  }
}
