$color-primary: #08a6e4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);
$color-additional-1: #fb3b64;
$color-additional-2: #55dfb4;
$color-black: #000000;
$color-grey: #a5a5a5;
$color-light-grey: #f7f7f7;
$color-white: #ffffff;
$font-main: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;
